<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSRunTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5770FE901E60285D0032AD09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5770FEA91E60285D0032AD09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5770FEB41E60285D0032AD09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
